* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /*box-sizing: border-box;*/
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  header {
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    align-items: center;
    padding: 1rem;
   background-color: white;
    border-bottom: 1px solid #ccc;
  }
 .header-grid{
   grid-column: 1/3;
   grid-row: 1/2;

 }
  header h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  header input {
    width: 60%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  header .perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
    padding: 2rem;
  }

  /*main{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 2%;
  }*/
 
  .historias {
    grid-column: 1/2 ;
    grid-row: 2/3;
    padding: 1rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    justify-self: end;
  }
  a{
    text-decoration: none;
    color: #1CA0F6;
  }
  a:hover{
    text-decoration: underline;
  }

  .post a{
    color: #A49B9B;
  }
  .historias img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .post {
    grid-column: 1/2; 
    grid-row: 3/4;
    width: 500px;
    margin-top: 2rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10PX;
    justify-self: end;
    /*justify-content: center;*/
  }

  .post img.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-header .user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .post img.post-img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
  }

   .acciones {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

 .sidebar {
    display: flex;
    align-items:start;/* agregado*/
    flex-direction: column;
    gap: 2rem;
  }

  

  .usuario, .sugerencias {
    border-radius: 10px;
    padding: 1rem;
  }
  

  .usuario{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 350px;
    justify-self: center;
  }

  .usuario-perfil{
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .usuario .perfil, .sugerencia-perfil .perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .sugerencias{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 350px;
    justify-self: center;

  }
  .sugerencias strong{
     color: #808080;
  }
  .sugerencia-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }


  .footer-grid{
    grid-column: 1/3;
    grid-row: 3/4;
  }

  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    background-color: #222222;
    color: white;
  }


  /*  RESPONSIVE*/
  @media (max-width: 768px) {
    main {
      grid-template-columns: 1fr; /* Solo una columna */
      grid-template-rows: auto; /* Filas automáticas según contenido */
      padding: 1rem;
    }
    .usuario,
    .sugerencias{
      display: none;
    }
    .historias,
    .post
     {
      grid-column: 1/2 ; /* Ocupan toda la columna disponible */
      justify-self: center;
      width: 100%; /* Usa todo el ancho disponible */
      max-width: 500px; /* No se pasen de cierto tamaño */
    }
  
    .header-grid {
      grid-column: 1/2;
    }
  
    .footer-grid {
      grid-column: 1/2;
    }
  
    header {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 1rem;
    }
  
    header input {
      width: 90%;
    }
  
    .usuario-perfil,
    .sugerencia-perfil {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  
    .usuario-perfil a,
    .sugerencia-perfil a {
      align-self: flex-end;
    }
  }
  /*************************************/